@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";



@theme  {
    --font-custom : 'Space Grotesk', sans-serif;
}




@layer components {
    @keyframes circle {

    0% {
      transform: rotate(0);
    }

    to {
      transform: rotate(360deg);
    }

  }


  @keyframes circle-reverse {

    0% {
      transform: rotate(360deg);
    }

    to {
      transform: rotate(0);
    }

  }


  .animate-circle-slow {
    animation: 50s linear infinite circle;
  }

  .animate-circle-content-slow {
    animation: 50s linear infinite circle-reverse;
  }


  .animate-circle-mid {
    animation: 70s linear infinite circle-reverse;
  }

  .animate-circle-content-mid {
    animation: 70s linear infinite circle;
  }

  .animate-circle-fast {
    animation: 90s linear infinite circle;
  }

  .animate-circle-content-fast {
    animation: 90s linear infinite circle-reverse;
  }


  .shape{
    corner-shape: bevel ;
  }



}