@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.cdnfonts.com/css/pixelsix');
@import "tailwindcss";





@theme {


  --font-custom: 'Space Grotesk', sans-serif;
  --font-piexelSix-1: 'PixelSix00', sans-serif;
  --font-piexelSix-2: 'PixelSix10', sans-serif;
  --font-piexelSix-3: 'PixelSix14', sans-serif;
}




@layer components {
  @keyframes circle {

    0% {
      transform: rotate(0);
    }

    to {
      transform: rotate(360deg);
    }

  }


  @keyframes circle-reverse {

    0% {
      transform: rotate(360deg);
    }

    to {
      transform: rotate(0);
    }

  }


  .animate-circle-slow {
    animation: 50s linear infinite circle;
  }

  .animate-circle-content-slow {
    animation: 50s linear infinite circle-reverse;
  }


  .animate-circle-mid {
    animation: 70s linear infinite circle-reverse;
  }

  .animate-circle-content-mid {
    animation: 70s linear infinite circle;
  }

  .animate-circle-fast {
    animation: 90s linear infinite circle;
  }

  .animate-circle-content-fast {
    animation: 90s linear infinite circle-reverse;
  }


  .shape {
    corner-shape: bevel ;
  }

  .shape-2 {
    corner-shape: scoop ;
  }

  .shape-3 {
    corner-shape: notch ;
  }

   .shape-4 {
    corner-shape: squircle;
  }


  .border-shape {
    border-radius:  5px 20px 5px 20px ;
  }


  .shadow-1 {
    box-shadow: 0  5px 0 0  black ;
  }






}